global:
  domain: eu2.coralogix.com
  clusterName: eks-kyc-prod
  defaultApplicationName: "k3s-ec2"
  collectionInterval: "60s"
opentelemetry-agent:
  ports:
    otlp:
      enabled: true
      containerPort: 14317
      servicePort: 14317
      hostPort: 14317
    otlp-http:
      enabled: true
      containerPort: 14318
      servicePort: 14318
      hostPort: 14318
    statsd:
      enabled: true
      containerPort: 18125
      servicePort: 18125
      hostPort: 18125
  config:
    exporters:
      coralogix:
        application_name: "k3s-ec2"
        application_name_attributes: null
    receivers:
      filelog:
        include:
          - /var/log/pods/*/*/*.log
        exclude:
          - /var/log/pods/datadog_*/*/*.log
      otlp:
        protocols:
          grpc:
            endpoint: ${MY_POD_IP}:14317
          http:
            endpoint: ${MY_POD_IP}:14318
      statsd:
        endpoint: ${MY_POD_IP}:18125
    processors:
      tail_sampling:
        policies:
          - name: error-sampling
            type: status_code
            status_code:
              status_codes: [ERROR]
          - name: probabilistic-sampling
            type: probabilistic
            probabilistic:
              sampling_percentage: 1
      filter/drop_http_metrics:
        error_mode: ignore
        metrics:
          metric:
            - IsMatch(name, "^http.client.*")
      transform/metric_labels:
        error_mode: ignore
        metric_statements:
          - context: datapoint
            statements:
              # Remove noisy infra labels
              - delete_key(attributes, "os_type")
              - delete_key(attributes, "cloud_provider")
              - delete_key(attributes, "cloud_region")

#              # Rename Environment/environment to cx_application_name
#              - set(attributes["cx_application_name"], attributes["Environment"]) where attributes["Environment"] != nil
#              - delete_key(attributes, "Environment")
#              - set(attributes["cx_application_name"], attributes["environment"]) where attributes["environment"] != nil and attributes["cx_application_name"] == nil
#              - delete_key(attributes, "environment")
#
#              # Expand env shorthands in cx_application_name
#              - set(attributes["cx_application_name"], "development") where attributes["cx_application_name"] == "dev"
#              - set(attributes["cx_application_name"], "acceptance")  where attributes["cx_application_name"] == "acc"
#              - set(attributes["cx_application_name"], "production")  where attributes["cx_application_name"] == "prod"
#              - set(attributes["cx_application_name"], "sandbox")     where attributes["cx_application_name"] == "box"
    service:
      pipelines:
        logs:
          receivers:
            - otlp
        traces:
          exporters:
            - coralogix
          processors:
            - tail_sampling
        metrics:
          receivers:
            - prometheus
            - otlp
          exporters:
            - coralogix
          processors:
            - filter/drop_http_metrics
            - transform/metric_labels
opentelemetry-cluster-collector:
  ports:
    otlp:
      enabled: true
      containerPort: 24317
      servicePort: 24317
    otlp-http:
      enabled: true
      containerPort: 24318
      servicePort: 24318
  config:
    exporters:
      coralogix:
        application_name: "production"
        application_name_attributes: null
    receivers:
      prometheus:
        config:
          global:
            scrape_interval: 60s
          scrape_configs:
            - job_name: rabbitmq_cluster
              kubernetes_sd_configs:
                - role: endpoints
              relabel_configs:
                - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_endpoints_name, __meta_kubernetes_endpoint_port_name]
                  action: keep
                  regex: "rabbitmq-cluster;rabbitmqcluster;prometheus"
              metric_relabel_configs:
                # Exclude metrics by the "queue" label using regex
                - source_labels: [queue]
                  regex: "^([^_]*)_(.*ConfigurationChanged)(.*)$"
                  action: drop
                # Optionally rename labels if needed
                - source_labels: [queue]
                  target_label: rabbitmq_queue
                - source_labels: [vhost]
                  target_label: rabbitmq_vhost
            - job_name: karpenter
              kubernetes_sd_configs:
                - role: endpoints
              relabel_configs:
                - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_endpoints_name, __meta_kubernetes_endpoint_port_name]
                  action: keep
                  regex: "kube-system;karpenter;http-metrics"
            - job_name: gpu-metrics
              kubernetes_sd_configs:
                - role: endpoints
              relabel_configs:
                - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_endpoints_name, __meta_kubernetes_endpoint_port_name]
                  action: keep
                  regex: "nvidia;eks-kyc-dcgm-exporter;metrics"
            - job_name: nginx-ingress-controller
              scrape_interval: 30s
              kubernetes_sd_configs:
                - role: endpoints
              relabel_configs:
                - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_endpoints_name, __meta_kubernetes_endpoint_port_name]
                  action: keep
                  regex: "ingress-nginx;ingress-nginx-nginx-metrics;metrics"
            - job_name: tensorflow-pods
              kubernetes_sd_configs:
                - role: pod
              relabel_configs:
                - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
                  action: keep
                  regex: "tensorflow.*"
                - source_labels: [__meta_kubernetes_namespace]
                  action: keep
                  regex: "ai"
                - source_labels: [__meta_kubernetes_pod_ip]
                  target_label: __address__
                  replacement: "$1:9090"
                - source_labels: [__meta_kubernetes_pod_name]
                  target_label: pod
              metrics_path: /monitoring/prometheus/metrics
            - job_name: kyverno-metrics
              kubernetes_sd_configs:
                - role: endpoints
              relabel_configs:
                - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_endpoints_name, __meta_kubernetes_endpoint_port_name]
                  action: keep
                  regex: "kyverno;.*kyverno-svc-metrics;metrics-port"
            - job_name: kyverno-background-controller
              kubernetes_sd_configs:
                - role: endpoints
              relabel_configs:
                - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_endpoints_name, __meta_kubernetes_endpoint_port_name]
                  action: keep
                  regex: "kyverno;kyverno-background-controller-metrics;metrics-port"
            - job_name: kyverno-cleanup-controller
              kubernetes_sd_configs:
                - role: endpoints
              relabel_configs:
                - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_endpoints_name, __meta_kubernetes_endpoint_port_name]
                  action: keep
                  regex: "kyverno;kyverno-cleanup-controller-metrics;metrics-port"
            - job_name: kyverno-reports-controller
              kubernetes_sd_configs:
                - role: endpoints
              relabel_configs:
                - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_endpoints_name, __meta_kubernetes_endpoint_port_name]
                  action: keep
                  regex: "kyverno;kyverno-reports-controller-metrics;metrics-port"
            - job_name: policy-reporter
              kubernetes_sd_configs:
                - role: endpoints
              relabel_configs:
                - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_endpoints_name, __meta_kubernetes_endpoint_port_name]
                  action: keep
                  regex: "kyverno;policy-reporter;http"
      otlp:
        protocols:
          grpc:
            endpoint: ${MY_POD_IP}:24317
          http:
            endpoint: ${MY_POD_IP}:24318
      statsd:
        endpoint: ${MY_POD_IP}:28125
    processors:
      tail_sampling:
        policies:
          - name: error-sampling
            type: status_code
            status_code:
              status_codes: [ERROR]
          - name: probabilistic-sampling
            type: probabilistic
            probabilistic:
              sampling_percentage: 1
      filter/drop_http_metrics:
        error_mode: ignore
        metrics:
          metric:
            - IsMatch(name, "^http.client.*")
      transform/metric_labels:
        error_mode: ignore
        metric_statements:
          - context: datapoint
            statements:
              # Remove noisy infra labels
              - delete_key(attributes, "os_type")
              - delete_key(attributes, "cloud_provider")
              - delete_key(attributes, "cloud_region")

              # Rename Environment/environment to cx_application_name
              - set(attributes["cx_application_name"], attributes["Environment"]) where attributes["Environment"] != nil
              - delete_key(attributes, "Environment")
              - set(attributes["cx_application_name"], attributes["environment"]) where attributes["environment"] != nil and attributes["cx_application_name"] == nil
              - delete_key(attributes, "environment")

              # Expand env shorthands in cx_application_name
              - set(attributes["cx_application_name"], "development") where attributes["cx_application_name"] == "dev"
              - set(attributes["cx_application_name"], "acceptance")  where attributes["cx_application_name"] == "acc"
              - set(attributes["cx_application_name"], "production")  where attributes["cx_application_name"] == "prod"
              - set(attributes["cx_application_name"], "sandbox")     where attributes["cx_application_name"] == "box"
    service:
      pipelines:
        traces:
          exporters:
            - coralogix
          processors:
            - tail_sampling
        metrics:
          exporters:
            - coralogix
          processors:
            - filter/drop_http_metrics
            - transform/metric_labels
